pandas
numpy
setuptools
psycopg2-binary
scikit-learn
imbalanced-learn
redis
flask
alibi-detect
prometheus_client
google-cloud-storage
apache-airflow-providers-google
apache-airflow-providers-postgres
SQLAlchemy